* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono",monospace;
}

a {
  color:white;
}

a:visited {
  color:gray;
}
.home {
  display: flex;
  flex-direction: row;
  position:relative;
}
.notch-container {
  position: sticky;
  z-index: 99;
  top: 0;
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: center;
}
.notch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  right: auto;
  background-color: rgb(40, 40, 47);
  padding: 5px;
  font-size: 20px;
  width: min-content;
  border-radius: 0px 0px 15px 15px;
}

.nextPage {
  right: 450px;
}

.prevPage {
  transform: scale(-1, 1);
}

.container {
  width: 900px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10vh;
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
  background-color: rgb(40, 40, 47);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.left {
  width: 50%;
  background-color:rgb(40, 40, 47);
  padding-bottom: 5vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.left h2 {
  text-align: center;
}

.about {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-inline: 5%;
  gap: 0.5em;
}

.tech {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: baseline;
}

.tech h2 {
  text-align: center;
}
.logos {
  position: relative;
  height: 1.7em;
  padding-right: 1em; 
  top: 0.5em;
}

.about ul li span {
  font-weight: bold;
}

.right {
  width: 50%;
  color:rgb(40, 40, 47);
  padding-bottom: 5vh;
  background-color: white;
}

.job {
  width: 100%;
}

.job span {
  font-size: small;
  display: block;
}

.job p {
  font-size: small;
  padding-top: 1em;
  width: inherit;
}

.btn {
  padding: 0px 2px;
}

.btn-job {
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgb(45 35 66 / 40%) 0 2px 4px, rgb(45 35 66 / 30%) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  color: #36395A;
  cursor: pointer;
  justify-content: center;
  line-height: 1;
  padding: 16px;
  position: relative;
  text-align: left;
  transition: box-shadow .15s,transform .15s;
  font-size: 18px;
  margin-top: 18px;
  width: inherit;
}
.btn-job:hover {
  background-color: #a8a8a8;
}

.btn-show {
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  color: #36395A;
  cursor: pointer;
  justify-content: center;
  padding: 0.5em;
  position: relative;
  transition: box-shadow .15s,transform .15s;
  font-size: small;
  background-color: #36395A;
  color: #FCFCFD;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  width:max-content;
}

.btn-prev {
  margin-left: 2vw;
  float: left;
}
.btn-next {
  margin-right: 2vw;
  float: right;
}

.btn:active {
  box-shadow: none;
  transform: translateY(0);
}

.header {
  background-color:rgb(40, 40, 47);
  height: 25vh;
  display: flex;
  flex-direction: row;
}

.photo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}

.photo-image {
  max-height: 40vw;
  margin-left: 2vw;
  height: 70%;
  box-shadow: rgba(160, 160, 160, 0.4) 10px 10px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.title h1 {
  font-size: 1.7rem;
  margin: 0;
}

.project-container {
  width: 100%;
  background: linear-gradient(90deg, rgb(40, 40, 47) 50%, white 50%);  
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  gap: 3vh;
  padding-bottom: 5vh;
}

.project-container h2 {
  padding-top: 0.5em;
  text-align: center;
}
.project-container h2 span{
  color: rgb(40, 40, 47)
}
.project {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.project-image-container {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-image {
  height: 15vh;
  width: 70%;
}

.project-title {
  padding: 1vh;
}

.project-description {
  padding: 4vh;
  width: 50%;
  font-size: small;
  color: rgb(40, 40, 47);
}

.project-description a {
  display: block;
text-align: right;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: all 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: all 300ms;
}



@media (max-width: 600px) {
  .container {
    width: auto;
  }
  .body {
    flex-direction: column;
  }
  .left {
    padding-bottom: 5vh;

    width: 100%;
    height: auto;
  }
  .right {
    width: 100%;
  }
  .title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding:2vw;
  }
  .title h1 {
    text-align: end;
  }
  .project {
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .project-container h2 span {
    color: white;
}
  .project-container {
    background: none;
    background-color:rgb(40, 40, 47);
    width: 100%;
  }
  .project-description {
    color: white;
    width: 100%;
    padding: 2vh 4vh;
  }

  .project-image-container {
    min-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .project-image{
    max-height: 26vh;
  width: 70%;
  }

}